.footer {
	width: 100%;
	bottom: 0;
	height: 50px;
	background-color: black;
	padding: 15px;
	color : green;
}

.error {
	color: red;
}
.navbar{
	background-color: black;
	
	
}
.home{
	background-color: #f2f2f2;
	width:100%;
	height:800px;
}
.select{
	width:60%;
	height:100%;
	float:left;
	
}
.selectl, .selectr{
	width:20%;
	height:100%;
	float:left;
}
.selpc, .selnote, .seltab{
	width:100%;
	height:30%;
}
.selpc:hover, .selnote:hover, .seltab:hover{
	border:2px solid black;
	border-radius:5px;
	box-shadow: 10px 10px;
}
.selpc{
	margin-top:3%;	
}
.selnote{
	margin-bottom:3%;
	margin-top:3%;
}


img{
	width:100%;
	height:100%;
}
.thumbnail:hover{
	background-color:#c3c6c0;
	border:1px solid;
}
.adminpage{
	width:100%;
	height:600px;

}
.blocks{
	width:100%;
	height:33.3%;
	background-color:#f2f2f2;
	
}
.buttons{
	width:20%;
	height:75%;
	float:left;
	margin-left:10%;
	margin-bottom:5%;
	border:2px solid;
	border-radius:5px;
}
.buttons:hover{
	box-shadow: 5px 5px;
	border-color:green;
}

.buttonsrl{
	width:20%;
	height:75%;
	float:left;
	margin-left:10%;
	margin-bottom:5%;
}
.button-title{
	width:100%;
	height:20%;
	font-family:impact;
	font-size:24px;
	
	}
.block-photo{
	width:100%;
	height:80%;
}
.buttons a{
	color:black;
}
